<!DOCTYPE html>
<html lang="en">
    <head>
        <title>易果生鲜_支付跳转</title>
        <meta charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="__FRON__js/jquery-3.2.1.js"></script>
        <link rel="stylesheet" type="text/css" href="__FRON__css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="__FRON__css/pay.css">
    </head>
    <body>

    <div class="w">
        <!-- 头部 -->
        <div class="header clearfix">
            <div class="wrap">
                <div class="logo"><a></a></div>
                <div class="steps">
                    <ul>
                        <li class="on"><b class="b1"></b><span>我的购物车</span></li>
                        <li class="on"><i></i><b class="b2"></b><span>确认支付</span></li>
                        <li><i></i><b class="b3"></b><span>等待配送</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="content">
                <form id="payform" action="#">
                    <div class="main PickUpCard ConfirmPay w1200">
                        <div class="c">
                            <dl>
                                <dt><i class="i1"></i>即将为您打开支付页面</dt>
                                    <dd>
                                        <ul>
                                            <li><span>订单编号：55243604</span><span>应付金额：<b class="price">￥38.80</b></span></li>
                                            <li><span>送 货 至：asd   dsa   </span></li>
                                        </ul>
                                            <a class="btn-org j_paybtn" href="#">立即支付<span id="timing">4</span></a>
                                            <span class="fs12 mt10">倒计时结束时自动打开支付页面，如果未跳转，请点击按钮。</span>
                                    </dd>
                                        <input type="hidden" name="OrderPaymentNum" class="j_payonlineNum" value="30" />
                                        <input type="hidden" name="SerialNumber" class="j_serialNumber" value="55243604" />
                                        <input type="hidden" name="TotalPrice" class="j_totalPrice" value="38.80" />
                                        <input type="hidden" name="OrderCode" class="j_orderCode" value="EFRUIT1716552436044349" />
                                        <input type="hidden" name="OrderId" class="j_payonlineId" value="fa7525f3-bd2c-4ae3-9556-db11acbd27f8" />
                                <dd class="tip">
                                    <b><i></i>注意事项:</b>
                                    建议您在收货后的48小时内保留商品的全套包装、附件、赠品、发票等所有随货物品,以便后续的处理.<br>
                                    订单将于您所选配送日全天送达,特殊商品无改期服务,备注仅做参考,如有时间要求建议选择指定时间段.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </form>
            </div>
            <img src="//cdsch2.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=CBD65260-4995-49F7-B51A-5963EB93BD47" width="1" height="1" />
        </div>
    <div class="footer">
    <div class="wrap">
        <dl class="col1">
            <dt>新手指南</dt>
            <dd>
                <p><a href="#">账户注册</a></p>
                <p><a href="#">购物流程</a></p>
                <p><a href="#">订购方式</a></p>
                <p><a href="#">悠币说明</a></p>
                            <p><a href="#">会员等级<i class="ml5"><img src="__FRON__imgs/icon-new.png"></i></a></p>

            </dd>
        </dl>
        <dl class="col2">
            <dt>付款方式</dt>
            <dd>
                <p><a href="#">支付方式</a>/<a href="#">发票说明</a></p>
                <p><a href="#">充值说明</a><a href="#">/储值卡说明</a></p>
                <p><a href="#">优惠代码/礼品卡说明</a></p>
                <p><a href="#">卡券购买章程</a></p>
            </dd>
        </dl>
        <dl class="col3">
            <dt>配送方式</dt>
            <dd>
                <p><a href="#">配送运费</a></p>
                <p><a href="#">配送范围</a></p>
                <p><a href="#">配送时间</a></p>
            </dd>
        </dl>
        <dl class="col4">
            <dt>售后服务</dt>
            <dd>
                <p><a href="#">退换货政策</a></p>
                <p><a href="#">退换货流程</a></p>
                <p><a href="#l">常见问题</a></p>
                <p><a href="#">投诉与建议</a></p>
            </dd>
        </dl>
        <dl class="col5">
            <dt>关于我们</dt>
            <dd>
                <p><a href="#">公司介绍</a></p>
                <p><a href="#">联系我们</a></p>
                <p><a href="#">业务合作</a></p>
                <p><a href="#">诚信举报</a></p>
                <p><a href="#" target="_blank" rel="nofollow">人才招聘</a></p>
            </dd>
        </dl>
        <div class="service"><span>客服热线 400-000-7788</span><span>周一至周日 9:00-21:00</span></div>
        <div class="copyright">
            <p>所有图片均受著作权保护，未经许可任何单位与个人不得使用、复制、转载、摘编，违者必究法律责任。</p>
            <p>沪ICP备09008015号 Copyright © 2005-2015 <a href="#">上海易果电子商务有限公司</a>版权所有</p>
            <p class="authentication">
                <a href="#" target="_blank" rel="nofollow"><img src="__FRON__imgs/153685368061665897_121x29.png" style="height:29px;"></a>
                <a href="#" target="_blank"><img src="__FRON__imgs/footer_copy.gif" width="47px" height="47px"></a>
                <a href="#">
                    <img src="__FRON__imgs/picp_bg.png" height="47" alt="图片加载失败..." border="0">
                </a>
            </p>
        </div>
    </div>
</div>


    </div>
    </body>
</html>